<div class="background">
  <h2 class ="header">
    <div class="headerWords"> Sign Up And Begin Annotating!</div>
  </h2>

  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
    <div class="login_border">
    <label class="username">
      Username
      <input class="user_input" type="text" name="user[username]" value="">
    </label>

    <label class="password">
      Password
      <input class="password_input" type="password" name="user[password]" value="">
    </label>
      <input class="submit" type="submit" value="Sign In">
      <p class="text">
        New User? You Can Sign Up <span class ="link"><%= link_to "Here", new_user_url %></span>
      </p>
    </div>

  </form>

</div>
