/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.background{
  background-color: #9999cc;
}
 .nav{
   list-style-type: none;
   margin: 0 auto;
   padding: 0;
   width: 800px;
   height: 61px;
   background-color: #9999cc;
   border-left: 2px solid #b399cc;
   border-right: 2px solid #b399cc;
   border-bottom: 2px solid #b399cc;
 }

 .nav-logo{
   float: left;
 }
 .nav > li:not(.nav-logo){
   float: left;
   width: 126px;
   height: 41px;
   padding-top: 20px;
   margin: auto auto;
   border-left: 2px solid #b399cc;
 }

 .nav > li:not(.nav-logo) > a {
   display: block;
   text-align: center;
 }

 .page {
   display: block;
   background-color: #9999cc;
   height:100%;
 }
 .search-bar {
   width: 126px;
   margin: auto auto;
 }
