// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.na
.no{
  display: none;
}

.error{
  display: inline;
  color: red;
}

.form-box{
  position: relative;
  overflow: hidden;
  display: block;
  width: 33%;
  min-height: 600px;
  background-color: #e6e8fa;
  margin: 50px auto;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.form-box:before, .lyrics-box:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
 border-style: solid;
 border-color: #828be5 #edf0f5;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.form-header{
  padding-top: 10px;
  color: white;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-size: 24px;
  background-color: #4b307b;
  display: block;
  height: 40px;
  width: 25%;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px solid #483d8b;
  border-left: 2px solid #483d8b;
  border-right: 2px solid #483d8b;
  box-shadow: 5px 5px 5px 0px #947DC4;
}

.artist-name-label{
  display: block;
    height: 80px;
    text-align: center;
    padding-top: 80px;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}

.artist-name-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #483d8b;
  width: 150px;
  height: 15px;
}

.artist-description-label{
  display: block;
  height: 150px;
  text-align: center;
  padding-top: 0px;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: black;
  text-shadow: 1px 1px black;
}

.artist-description-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #483d8b;
  width: 150px;
  height: 100px;
  resize: none;
  font-family: serif;
  font-size: 14px;
  transition: width 2s, height 2s
}
.artist-description-input:focus{
  width: 300px;
  height: 300px;
}
input:focus, textarea:focus{
  outline-color: #6441a5;
}


.song-label{
  display: block;
    height: 80px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}
.song-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 15px;
}

.album-label{
  display: block;
    height: 80px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}
.album-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 15px;
}

.lyrics-label{
  display: block;
    height: 500px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}

.lyrics-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 100px;
  resize: none;
  font-family: serif;
  font-size: 14px;
  transition: width 2s, height 2s;
}

.lyrics-input:focus{
  width: 450px;
  height: 450px;
}

input[type="submit"]{
  z-index: -1;
  display: block;
  vertical-align: middle;
  box-shadow: 5px 5px 5px #947DC4;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition: all 0.3s ease 0s;
  border: none;
  margin: 20px auto;
  font-size: 22px;
  color: white;
  background-color: #6441a5;
  width: 200px;
  font-family: monospace;
}

input[type="submit"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus{
  z-index: -1;
  transform: scale(1.1);
  cursor: pointer;
  background-color: #815fc0;
}

.song-list {
  border: 1px solid #483d8b;
  list-style: none;
  display: block;
  width: 50%;
  min-height: 100px;
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding-left: 0;
  background-color: #4b307b;
}
.individual-song {
  border-bottom: 1px solid #483d8b;
  padding: 10px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.individual-song:hover {
  cursor: pointer;
  -webkit-transform: skew(10deg);
 transform: skew(10deg);

}

.welcome {
  padding-top: 10px;
  color: white;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-size: 24px;
  background-color: #4b307b;
  display: block;
  height: 50px;
  width: 25%;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px solid #483d8b;
  border-left: 2px solid #483d8b;
  border-right: 2px solid #483d8b;
  box-shadow: 5px 5px 5px 0px #947DC4;

}

.recently-added-header{

  background-color: #815fc0;
  display: block;
  width: 50%;
  border-right: 2px solid #483d8b;
  border-top: 2px solid #483d8b;
  border-left: 2px solid #483d8b;
  border-bottom: 1px solid #483d8b;
  font-size: 28px;
  color: white;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 4px;
  padding-top: 4px;
}

.song-header{
  display: inline-block;
  width: 47%;
  border: 2px solid #483d8b;
  font-size: 28px;
  color: white;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: #815fc0;
}

.song-lyrics{
  white-space: pre-wrap;
  display: inline-block;
  padding-top: 20px;
  padding-left: 50px;
  width: 47%;
  min-height: 100px;
  color: black;
  font-size: 16px;
}
.lyrics-box{
  position: relative;
  overflow: hidden;
  display: block;
  width: 70%;
  min-height: 100px;
  background-color: #e6e8fa;
  margin: 100px auto;
  padding: 30px;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.about-the-artist{
  float: right;
  display: inline-block;
  width: 47%;
  border: 2px solid #483d8b;
  font-size: 28px;
  color: white;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: #815fc0;
}

.artist-description{
  white-space: pre-wrap;
  float: right;
  padding-top: 20px;
  text-align: center;
  width: 47%;
  min-height: 100px;
  color: white;
  font-size: 16px;
}

.song-box{
  position: relative;
  overflow: hidden;
  display: block;
  width: 33%;
  min-height: 900px;
  background-color: #e6e8fa;
  margin: 50px auto;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}


.song-box:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
 border-style: solid;
 border-color: #828be5 #edf0f5;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.splash-box{
  padding: 30px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 40%;
  min-height: 50px;
  background-color: #e6e8fa;
  margin: 50px auto;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.splash-box:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
 border-style: solid;
 border-color: #828be5 #edf0f5;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
