// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.na
.no{
  display: none;
}

.error{
  display: inline;
  color: red;
}

.form-box{
  position: relative;
  overflow: hidden;
  display: block;
  width: 40%;
  min-height: 600px;
  min-width: 376px;
  background-color: #e6e8fa;
  margin: 50px auto;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.form-box:before, .lyrics-box:before, .about-the-artist-box:before, .annotations-form-box:before, .edit-artist-box:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
 border-style: solid;
 border-color: #828be5 #edf0f5;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.form-header{
  padding-top: 10px;
  color: white;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-size: 24px;
  background-color: #4b307b;
  display: block;
  height: 40px;
  width: 25%;
  min-width: 291px;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px solid #483d8b;
  border-left: 2px solid #483d8b;
  border-right: 2px solid #483d8b;
  box-shadow: 5px 5px 5px 0px #947DC4;
}

.artist-name-label{
  display: block;
    height: 80px;
    text-align: center;
    padding-top: 80px;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}

.artist-name-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #483d8b;
  width: 150px;
  height: 15px;
}

.artist-description-label{
  display: block;
  height: 150px;
  text-align: center;
  padding-top: 0px;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: black;
  text-shadow: 1px 1px black;
}

.artist-description-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #483d8b;
  width: 150px;
  height: 100px;
  resize: none;
  font-family: serif;
  font-size: 14px;
  transition: width 2s, height 2s
}
.artist-description-input:focus{
  width: 300px;
  height: 300px;
}
input:focus, textarea:focus{
  outline-color: #6441a5;
}


.song-label{
  display: block;
    height: 80px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}
.song-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 15px;
}

.album-label{
  display: block;
    height: 80px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}
.album-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 15px;
}

.lyrics-label{
  display: block;
    height: 500px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px black;
}

.lyrics-input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 100px;
  resize: none;
  font-family: serif;
  font-size: 14px;
  transition: width 2s, height 2s;
}

.lyrics-input:focus{
  width: 450px;
  height: 450px;
}

input[type="submit"], .cancel-button{
  z-index: -1;
  display: block;
  vertical-align: middle;
  box-shadow: 5px 5px 5px #947DC4;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition: all 0.3s ease 0s;
  border: none;
  margin: 20px auto;
  font-size: 20px;
  color: white;
  background-color: #6441a5;
  width: 200px;
}

input[type="submit"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
{
  z-index: -1;
  transform: scale(1.1);
  cursor: pointer;
  background-color: #815fc0;
}

.song-list, .annotated-song-list {
  border: 1px solid #483d8b;
  list-style: none;
  display: block;
  width: 100%;
  min-height: 100px;
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding-left: 0;
  background-color: #4b307b;
}
.individual-song-right, .individual-song-left {
  border-bottom: 1px solid #483d8b;
  padding: 10px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  transition: all 0.3s;
}

.individual-song-left:hover {
  cursor: pointer;
  -webkit-transform: skew(10deg);
 transform: skew(10deg);

}

.individual-song-right:hover {
  cursor: pointer;
  -webkit-transform: skew(-10deg);
 transform: skew(-10deg);
}

.welcome {
  font-family: 'Inconsolata';
  background-image: url('images.jpeg');
  background-size: 200px 80px;
  padding-top: 10px;
  color: white;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-size: 24px;
  display: block;
  height: 50px;
  width: 25%;
  min-width: 272px;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px solid #483d8b;
  border-left: 2px solid #483d8b;
  border-right: 2px solid #483d8b;
  box-shadow: 5px 5px 5px 0px #947DC4;

}

.explanation-box{
  background-color: #8e6ec6;
  height: 50px;
  width: 25%;
  min-width: 272px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 5px 5px 5px 0px #947DC4;

}

.annotate-the-world{
  font-family: 'Inconsolata';
  padding-top: 20px;
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
}

.explanation{
  font-family: 'Inconsolata';
  display: block;
  color: white;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}

.recently-added-header, .recently-annotated-header{

  background-color: #815fc0;
  float: left;
  width: 100%;
  border-right: 2px solid #483d8b;
  border-top: 2px solid #483d8b;
  border-left: 2px solid #483d8b;
  border-bottom: 1px solid #483d8b;
  font-size: 28px;
  color: white;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 4px;
  padding-top: 4px;
}

.song-header{
  font-family: 'Inconsolata';
  display: block;
  width: 100%;
  border: 2px solid #483d8b;
  font-size: 28px;
  color: white;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: #815fc0;
  min-height: 36px;
}

.song-lyrics{
  white-space: pre-wrap;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  min-height: 100px;
  color: black;
  font-size: 16px;
}
.lyrics-box{
  position: relative;
  display: inline-block;
  float: left;
  width: 30%;
  min-height: 100px;
  min-width: 450px;
  background-color: #e6e8fa;
  margin-top: 100px;
  margin-left: 15%;
  margin-bottom: 100px;
  padding: 30px;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.about-the-artist-box, .edit-artist-box{
  float: right;
  position: relative;
  display: inline-block;
  width: 30%;
  min-height: 350px;
  background-color: #e6e8fa;
  margin-top: 100px;
  margin-right: 15%;
  margin-bottom: 100px;
  padding: 30px;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.about-the-artist, .edit-header{
  font-family: 'Inconsolata';
  display: block;
  width: 100%;
  border: 2px solid #483d8b;
  font-size: 28px;
  color: white;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: #815fc0;
  min-height: 36px;
}

.artist-description{
  position: relative;
  white-space: pre-wrap;
  float: left;
  padding-top: 20px;
  width: 100%;
  min-height: 100px;
  color: black;
  padding-bottom: 30px;
  font-size: 16px;
}

.song-box{
  position: relative;
  overflow: hidden;
  display: block;
  width: 40%;
  min-width: 515px;
  min-height: 900px;
  background-color: #e6e8fa;
  margin: 50px auto;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}


.song-box:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
 border-style: solid;
 border-color: #828be5 #edf0f5;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.splash-box{
  padding: 30px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 40%;
  min-height: 50px;
  min-width: 741px;
  background-color: #e6e8fa;
  margin: 50px auto;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.splash-box:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
 border-style: solid;
 border-color: #828be5 #edf0f5;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
 box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

//annotations styling

.button-off{
  display: none;
}

.button-on{
  z-index: 2;
  position: absolute;
  top: -10px;
  float: right;
  left: -131px;
  width: 120px;
  height: 40px;
  background-color: #4b307b;
  color: white;
  border: none;
  box-shadow: 5px 5px 5px #c7c5e6;
  border-radius: 10px;
  transition: all 0.3s;
}

.button-logged {
  z-index: 2;
  position: absolute;
  top: -10px;
  float: right;
  left: -160px;
  width: 150px;
  height: 40px;
  background-color: #4b307b;
  color: white;
  border: none;
  box-shadow: 5px 5px 5px #c7c5e6;
  border-radius: 10px;
  transition: all 0.3s;
}

.button-on:hover, .button-logged:hover{
  background-color: #7852bb;
  cursor: pointer;
}

.song-relative{
  position: relative;

}

.song-line {
  display: inline-block;
  transition: all 0.5s;
  position: relative;
}

.song-line:hover{
  background-color: #b8b9c8;
  cursor: pointer;
}

.true{
  background-color: #FFEB7F;
  display: inline-block;
  transition: all 0.3s
}

.true:hover{
  background-color: #CCBC65;
}

.annotations-form-box{
  float: right;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 30%;
  min-height: 350px;
  background-color: #e6e8fa;
  margin-top: 10%;
  margin-right: 15%;
  padding: 30px;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.annotation-header{
  display: block;
  width: 100%;
  border: 2px solid #483d8b;
  font-size: 28px;
  color: white;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: #815fc0;
  min-height: 36px;
}

#add-annotation{
  box-shadow: none;
  display: inline-block;
  background-color: #082c08;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  float: right;
  margin-right: 30%;
  transition: background-color 0.3s
}

#add-annotation:hover{
  background-color: #395639;
}

.cancel-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-shadow: none;
  background-color: #770000;
  font-size: 20px;
  border-radius: 50%;
  float: left;
  margin-left: 30%;
}

.cancel-button:hover {
  background-color: #ff2929;
  cursor: pointer;
}

.annotation-input{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 250px;
  height: 300px;
  resize: none;
  font-size: 14px;
  font-family: serif;
}


@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.cancel-button, #add-annotation  {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.cancel-button:hover, .cancel-button:focus, .cancel-button:active, #add-annotation:hover,
#add-annotation:focus, #add-annotation:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 0.5s;
  animation-duration: .3s, 0.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.annotation-box{
  float: right;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 30%;
  min-height: 350px;
  background-color: #e6e8fa;
  margin-top: 10%;
  margin-right: 15%;
  margin-bottom: 10%;
  padding: 30px;
  box-shadow: 5px 16px 8px -5px #c7c5e6;
}

.break{
  display: block;
}

.edit{
  display: block;
  position: absolute;
  background-color: #ffffc4;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  border: 1px solid #ededd6;
  transition: all 0.5s;
}

.edit-annotation{
  display: block;
  position: absolute;
  background-color: #ffffc4;
  margin: 0 auto;
  left: 0%;
  bottom: 0%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  border: 1px solid #ededd6;
  transition: all 0.5s;
}

.edit-annotation:hover, .edit-annotation:active, .edit-annotation:focus{
  cursor: pointer;
  border-radius: 0;
  width: 80px;
}


.edit:hover{
  cursor: pointer;
  border-radius: 0;
  width: 80px;
}

.edit-artist{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 250px;
  height: 300px;
  resize: none;
  font-size: 14px;
  font-family: serif;
}

.search-box{
  position: relative;
  height: 35px;
  width: 400px;
  margin: 0 auto;
  text-align: center;

}

.search-bar{
  position: relative;
  background: url("search-icon-hi.png") no-repeat 31px 9px;
  background-size: 20px;
  display: block;
  height: 35px;
  width: 400px;
  background-color: #815fc0;
  border: none;
  margin: 0 auto;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  text-indent: 50px;
}

.search-bar:focus{
  outline: none;
  border: 2px outset #9ec05f;
}

input::-webkit-input-placeholder {
  color: white;
}
input[type="search"]::-webkit-search-cancel-button, {
  display: none;
}

.recently-added-box, .recently-annotated-box {
  float: left;
  margin: 2%;
  width: 45%;
  min-width: 310px;
}

.search-results{
  list-style: none;
  position: absolute;
  z-index: 3;
  background-color: #A6ADED;
  box-shadow: 5px 5px 5px #848ABD;
  left: 25px;
  text-align: center;
  padding-left: 0px;
  font-size: 20px;
  width: 350px;
  min-height: 50px;
}

.dont-appear{
  display: none;
}

.matches:hover{
  cursor: pointer;
}

.created-by, .comment-username{
  width: 100%;
  height: 20px;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 20px;
  display: block;
  background-color: #848ABD;
}

.annotation-body, .comment-body, .new-comment{
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: #9ca1ca;
  font-size: 16px;
  padding-top: 16px;
  margin-bottom: 20px;
}

.comment-body, .new-comment{
  background-color:#c7c9e0;
}

.new-comment{
  padding-bottom: 20px;
}

.image, .comment-image{
  text-align: center;
  padding: 50px 0;
}

img{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.song-show{
  min-width: 1433px;
}

.song-errors{
  color: red;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  position: absolute;
}

.comment-list{
  list-style: none;
  padding: 0;
}

.add-comment{
  margin: 0 auto;
  text-align: center;
  display: block;
  border-radius: 50%;
  background-color: #6441a5;
  border: none;
  height: 27px;
  color: white;
  transition: all 0.3s;
}

.add-comment:hover{
cursor: pointer;
background-color: #8d6ec6;
}

.delete{
  display: block;
  position: absolute;
  background-color: #ffffc4;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  border: 1px solid #ededd6;
  transition: all 0.5s;
}

.delete:hover{
  cursor: pointer;
  border-radius: 0;
  width: 80px;
}

.off{
  display: none;
}

.edit-annotation-box{
  float: left;
}

.comment-input{
  font-size: 14px;
  display: block;
  resize: none;
  width: 300px;
  height: 250px;
  margin: 30px auto;
}

.image-input{
  font-size: 14px;
  display: block;
  width: 250px;
  height: 20px;
  margin: 20px auto;
}

.labels{
  display: block;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.artist-icon {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.artist-image{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
