// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  font-family: 'Indie Flower', cursive;
  color: white;
  text-shadow: 1px 1px black;
  text-align: right;
  font-size: 24px;
  background-color: #67758A;
  display: block;


  width: 800px;
  margin: 0 auto;
  border: 2px solid #b399cc;
  border-left: 2px solid #b399cc;
  border-right: 2px solid #b399cc;



}
.login_border{
  width: 800px;
  height: 800px;
  display: block;
  margin: 0 auto;
  background-color: #67758A;
  border: 2px solid #b399cc;
  border-left: 2px solid #b399cc;
  border-right: 2px solid #b399cc;

}
.username{
  display: block;
  height: 80px;
  text-align: center;
  padding-top: 80px;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px black;
}

.user_input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 15px;
}

.password{
  display: block;
  height: 80px;
  text-align: center;
  padding-top: 0px;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px black;
}
.password_input{
  display: block;
  margin: 0 auto;
  border: 1px inset;
  border-color: #b399cc;
  width: 150px;
  height: 15px;
}


.background{
  height: 100%;
  width: 100%;
  background-color: #9999cc
}


.text{
  text-align: center;
  color: white;
}
a{
  text-decoration: none;
  color: #cccc99;
}

a:hover,
a:focus,
a:active{
-webkit-stroke-width: 5.1px;
-webkit-stroke-color: #cccc99;
-webkit-fill-color: #cccc99;
text-shadow: 0px 0px 10px #cccc99;
-webkit-transition: width 0.3s; /*Safari & Chrome*/
transition: width 0.3s;
-moz-transition: width 0.3s; /* Firefox 4 */
-o-transition: width 0.3s; /* Opera */
}

.logo{
  float:left;
}

body{
  margin: 0px;
}
.headerWords{
  text-align: center;
}
